body {
    background-color: #d3d3d3;
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
    color: black;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4e41e1;
    color: white;
    border: none;
    border-radius: 4px;
}

.users {
    margin-top: 25px;
    
}

.user {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px gray;
}

.user h3 {
    margin-top: 0;
    color: rgb(110, 65, 225);
}

.user h4,
.user h5 {
    margin-bottom: 5px;
    margin-top: 10px;
    color: #696969;
}

.user p {
    margin: 3px 0;
    font-size: 14px;
    color: black;
}

